<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Img link:</strong>
    <%= service.img_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

</div>
