<div class="container">
    <div class="contact">
        <h3 class="text-center v-heading">Fale connosco</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div id="googlemap1" class="map"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 contact-right">
                <div class="contact-intro">
                    <p>
                    “Proporcionar ao cliente, a chance de realizar seu sonho em um evento único e 
                    repleto de momentos inesquecíveis, com foco em cada detalhe tornando-os memoráveis para o cliente e seus convidados.”
                    </p>
                </div>
                <div class="contact-form checkout-page login">
                    <h3 class="v-heading v2">Enviar agora</h3>
                    <form action="#" class="login-form">
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control" value="" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" value="" placeholder="E-Mail">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" value="" placeholder="Messagem">
                        </div>
                        <button type="submit" class="btn-vsend">enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="contact-connect">
            <p class="email"><a href="">Geral@Sempre-Chique.Com</a></p>
            <p class="c-address v-color2">Pedro De Castro Vandune-Loy, Talaton 2, Travessa 2, Luanda - Angola</p>
            <p class="phone v-color1">+244 925 765 625</p>
            <p class="phone v-color1">+244 991 765 625</p>
        </div>
    </div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfhtZN7ZukEAEQcgR_GszRE4x338Bu9M&callback=initMap"></script>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('googlemap1'), {
        center: { lat: -8.919285, lng: 13.218383 },
        zoom: 15
    })

    new google.maps.Marker({
        position: 0,
        map: map,
        title: 'Edifício Sempre Chique'
    });
    
}



</script>

