<div class="about">

    <div class="container">
        <h1><%= @service.name%></h1>
        <br>
        <%= @service.description %>
    </div>
    <div class="about-top text-center">
        <br>
        <br>
        <br>
        <h3 class="about-heading v-color1">ONTEM SONHO</h3>
        <h3 class="about-heading v2">HOJE REALIDADE</h3>
    </div>
</div>
